@charset "euc-jp";
/* CSS Document */
#DVR990104Bg
{
position:absolute; 
width: 759px; 
height: 703px; 
left: 263px; 
top: 57px;
}
#DVR990104reg
{
	padding:2px 0px 2px 0px;
	background-color:#FFFFFF;
	color:#000001;
	width:247px;
	height:358px;
}

#DVR990104Container
{
position:absolute;
width:740px;
height:542px;
left:100px;
top:100px;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
border:#FFFFFF solid 5px;
z-index:28;
display: none;

}

.DVR990104Back
{
position:absolute;
width:742px;
height:544px;
top:-1px;
left:-1px;
-webkit-border-radius: 11px;
-moz-border-radius: 11px;
background-color:#333333;

}

.DVR990104Dstit
{
position:absolute; 
top:44px;
text-align:center;
left:445px; 
width:272px;
height:22px; 
}
.DVR990104Dsdata{
position:absolute;
left:446px; 
top:72px; 
width:272px;
height:356px; 
overflow:scroll;
overflow-x:hidden; 
}
.DVR990104Border{
position:absolute;
left:10px; 
top:10px;
width:720px;
height:423px; 
border-collapse:collapse; 
background-color:#506473;
 }
.DVR990104BtnPs
{
position:absolute; 
left:331px; 
top:510px; 
}
.DVR990104BtnPs2
{
position:absolute; 
left:541px; 
top:510px; 
}
.DVR990104BotmFnt
{
position:absolute;
background-color:#506473; 
width:720px; 
height:35px; 
left:10px; 
top:448px;
}
.DVR990104Log{
position:absolute; 
left: 335px;  
top: 194px; 
width: 54px; 
height: 14px; 
text-align:center; 

}
.DVR990104Logpic{
position:absolute; 
background-image:url(../images/DVR-99-01-04-left.png); 
background-repeat:no-repeat; 
left:373px; 
width: 52px; 
top:169px; 
height: 19px;
}
.DVR990104Del{
position:absolute; 
left: 335px; 
top: 234px; 
width: 54px; 
height: 14px; 
text-align:center; 
}
.DVR990104Delpic{
position:absolute; 
background-image:url(../images/DVR-99-01-04-right.png);
background-repeat:no-repeat; 
width:52px; 
height:19px; 
left:374px; 
top:260px;
}
.DVR990104Toptit{
position:absolute; 
width:200px; 
height:26px; 
left:25px; 
top:20px; 
font-family:"RgHeiseiMG-W4";

}
.DVR990104Tabletit{
position:absolute;
height:25px;
width:310px;
left:22px;
top:45px; 

}
.DVR990104Tablepos{
position:absolute; 
left: 71px; 
top: 70px; 
width: 127px; 
height: 289px;
}

.DVR990104TableLeft{
position:absolute;
height:400px;
width:79px;
top:25px;
left:2px;
background-color:#333333;

}
.DVR990104TableRight{
	position:absolute;
	width:247px;
	background-color:#FFFFFF;
	border:0px;
	border-collapse:collapse;
	border-spacing:0px;
}
.DVR990104TableMiddle{
position:absolute;
height:100%;
width:207px;
top:26px;
background-color:#333333;

}
.DVR990104Tabletd1{
width:20%;
height:17px;
border:1px solid #000;

}
.DVR990104Tabletd2{
width:80%;
height:17px;
border:1px solid #000;
}
.DVR990104btn {
	text-align: center;
	border: 1px solid #000;
	height: 18px;
	
	background-color:#fff;
	
	margin-top:1px;
}
.table_tr_td1
{
background-color:#333333;
text-align:center;
width:30px;
font-family:"RgHeiseiMG-W4";
}
.table_tr_td1i
{
background-color:#333333;
text-align:center;
width:37px;
font-family:"RgHeiseiMG-W4";
}
.table_tr_td1r
{
background-color:#333333;
text-align:center;
width:40px;
height:22px; 
font-family:"RgHeiseiMG-W4";
}
.table_tr_td2
{
background-color:#333333;
text-align:center; /* left */
padding-left:5px;
width:160px; /* 210px */
font-family:"RgHeiseiMG-W4";
}
.table_tr_td2i
{
background-color:#333333;
text-align:left;
padding-left:6px;
width:198px;
font-family:"RgHeiseiMG-W4";
}
.table_tr_td2r
{
background-color:#333333;
text-align:center;
padding-left:5px;
width:222px;
height:22px; 
font-family:"RgHeiseiMG-W4";
}
.table_tr_td3
{
background-color:#333333;
text-align:center;
padding-left:5px;
width:40px;
font-family:"RgHeiseiMG-W4";
}
.table_tr_td3i
{
background-color:#333333;
text-align:center;
padding-left:5px;
width:39px;
font-family:"RgHeiseiMG-W4";
}
.table_tr_td
{
width:5px;
}
.table_tr_td_add
{
width:6px;
}
.table_tr_tdi
{
width:6px;
height:18px; 

}
.table_tr_tdi_add
{
width:5px;
height:18px; 
}
.table_tr_td4
{
width:250px;
}
.table_left_td
{
text-align:right;
height:19px;  
width:40px;
padding-right:4px;
font-family:"RgHeiseiMG-W4";
}
.table_left_td1
{
text-align:left;
height:19px;  
width:10px;
padding-left:4px;
font-family:"RgHeiseiMG-W4";
}
.table_middle_tr
{
height:22px;
font-family:"RgHeiseiMG-W4";
}
.table_middle_tr_td
{
text-align:left;
padding-top:2px;
padding-left:5px;
width:180px; 
position:absolute;
font-family:"RgHeiseiMG-W4";
}
.talbe_right_tr_td
{
text-align:center;
height:22px;
width:27px;
font-family:"RgHeiseiMG-W4";
}
.talbe_right_tr_td_1
{
text-align:left;
height:22px;
width:138px;
padding-left:2px;
font-family:"RgHeiseiMG-W4";
}
.ckeckBox
{
}
.DVR990104Div2{
	position:absolute;
	overflow:auto;
	height:356px;
	width:310px;
	top:27px;
	left:0px;
	background-color:#333333;
}
.T{
background-color:#FF33FF;
}
.message4
{
	width:108px;
	text-align:left;
}
#DVR990104tabMiddle{
	padding:2px 0px 2px 0px;
}
#DVR990104tab{
}
